<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="https://app.procurehq.com" />
    <add key="Token" value="qVLJo4PXgYa8r1N22OBsQuyIiwGvuniDNfkMUqhxrbmg5Ne23wxskfASid9s" />
    <add key="Username" value="sdo" />
    <add key="Password" value="SDO" />
    <add key="Location" value="C:\PROGRAMDATA\SAGE\ACCOUNTS\2018\DemoData\ACCDATA\" />
    <add key="PollingPeriod" value="1" />
    <add key="Version" value="24" />
    <add key="Logging" value="On" />
  </appSettings>
</configuration>