<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- ProcureHQ WebAPI -->
    <add key="ProcureHQ_WebAPI_URL" value="http://procurehqv2.test:8000"/>
    <add key="ProcureHQ_Token" value="uWCPscSsqbkCSjaVuNUHOTHDBKk3iKIwnTfHP0XnpniYJQ8ZTTIcmDEPN2t5"/>

    <!-- Sage 50 -->
    <add key="Sage_UserName" value="sdo"/>
    <add key="Sage_Password" value="SDO"/>
    <add key="Sage_BasePath" value="C:\PROGRAMDATA\SAGE\ACCOUNTS\2020\DemoData\ACCDATA\"/>

    <!-- Configuration -->
    <add key="PollingPeriod" value ="1"/>

    <!-- Unused -->
    <add key="Mode" value ="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <add key="IntervalMinutes" value ="1"/>
    <add key="ScheduledTime" value ="18:41"/>
  </appSettings>
</configuration>